<%# The ID is crucial for Turbo to know where to append the new message %>
<% user_id = defined?(current_user_id) && current_user_id ? current_user_id : current_user.id %>

<div id="<%= dom_id(message) %>" class="conversation-chat-bubble" style="<%= message.user_id == user_id ? 'justify-end' : 'justify-start' %>">
  <div id="<%= message.user_id == user_id ? 'current-user-message' : 'other-user-message' %>">
    <div class="conversation-chat-username">
      <%= message.user.display_name %>
    </div>
    <p><%= message.body %></p>
    <div class="conversation-chat-timestamp">
      <%= time_ago_in_words(message.created_at) %> ago
    </div>
  </div>
</div>