<div class="chats-page-container">
    <div class="chats-header-section">
        <%= link_to root_path, class: "chats-btn back" do %>
            <span class="material-symbols-rounded">arrow_back</span>
        <% end %>
        <h2 class="chats-page-title">My Chats</h2>
        <%= link_to new_chat_path, class: "chats-btn new" do %>
            <span class="material-symbols-rounded">chat_add_on</span>
        <% end %>
    </div>

    <ul class="chat-list">
        <% if @chats.any? %>
            <% @chats.each do |chat| %>
                <% other_user = chat.sender == current_user ? chat.receiver : chat.sender %>
                <li class="chat-card">
                    <%= link_to chat_path(chat), class: "chat-card-link" do %>
                        <div class="chat-card-grid">
                            <div class="chat-user"> <%= other_user.display_name %> </div>
                            <p class="chat-last-message" data-controller="local-time">
                                <% last_message = chat.messages.order(created_at: :desc).first %>
                                <% if last_message %>
                                    Last message: <span data-local-time-target="time" data-utc="<%= last_message.created_at.utc.iso8601 %>"></span>
                                <% else %>
                                    No messages yet
                                <% end %>
                            </p>
                            <%= button_to chat_path(chat), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this conversation?" }, class: "chat-delete-btn", form: { class: "chat-delete-form" } do %>
                                <span class="material-symbols-rounded">delete</span>
                            <% end %>
                        </div>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>