<div>
  <h1>
    Welcome to the Instant Messaging POC
  </h1>
  <p>
    This is a proof of concept for an instant messaging application using Ruby on Rails and Devise.
  </p>

  <% if user_signed_in? %>
    <div>
      <p>You are logged in as **<%= current_user.email %>**.</p>
      <div style="display: flex; gap: 10px;">
        <%= link_to "My Chats", chats_path, class: "btn btn-primary" %>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  <% else %>
    <div>
      <p>Please sign in or sign up to continue.</p>
      <%= link_to "Log In", new_user_session_path, class: "login-button" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "signup-button" %>
    </div>
  <% end %>
</div>