<div class="login-page-container">
  <div class="login-header-section">
    <%= link_to root_path, class: "login-back-btn" do %>
      <span class="material-symbols-rounded">arrow_back</span>
    <% end %>
    <h2 class="login-page-title">Log in</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login-form">
      <div class="login-form-group">
        <%= f.label :email, class: "login-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-input" %>
      </div>
      <div class="login-form-group">
        <%= f.label :password, class: "login-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "login-input" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="login-remember-group">
          <%= f.check_box :remember_me, class: "login-remember-checkbox" %>
          <%= f.label :remember_me, class: "login-remember-label" %>
        </div>
      <% end %>
    </div>
    <div style="text-align: center; margin-top: 20px;">
      <%= f.submit "Log in", class: "login-submit-btn" %>
    </div>
  <% end %>
  <div class="login-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
