<!DOCTYPE html>
<html>
  <head>
    <title>InstantMessagingPoc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="flash-messages">
      <p class="notice" data-controller="flash"><%= notice %></p>
      <p class="alert" data-controller="flash"><%= alert %></p>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
